{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
        <link rel="stylesheet"  type="text/css" href ="{% static  'boton.css' %}">
        <style>
            html {
			background: rgb(78,94,188);
			background: linear-gradient(0deg, rgba(78,94,188,1) 0%, rgba(152,109,133,1) 20%, rgba(160,107,164,1) 35%, rgba(183,133,175,1) 50%, rgba(223,161,195,1) 70%, rgba(229,168,197,1) 85%, rgba(234,174,198,1) 100%);
			background-repeat:no-repeat;
			background-size: auto 70em;
		    }
            #buttondelete:hover {
                background: rgb(122, 230, 234);
            }
        </style>
    </head>
    <body>
        {% include "barra.html" %}
        <form class="form-content" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.titulo|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.resumen|as_crispy_field }}
            </div>
            <button type="submit" class="boton" id="buttondelete">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                      </svg>
                </div>
                <span>Subir</span>
            </button>
        </form>
    </body>
</html>
{% endblock %}