{% load static %}
{% block content %}
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
        <style>
            html {
			background: rgb(78,94,188);
			background: linear-gradient(0deg, rgba(78,94,188,1) 0%, rgba(152,109,133,1) 20%, rgba(160,107,164,1) 35%, rgba(183,133,175,1) 50%, rgba(223,161,195,1) 70%, rgba(229,168,197,1) 85%, rgba(234,174,198,1) 100%);
			background-repeat:no-repeat;
			background-size: auto 70em;
		    }
        </style>
    </head>
    <body>
        {% include "barra.html" %}
        <a href="{% url 'nuevoresumen' %}">Subir un nuevo Resumen</a>
            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" aria-describedby="mydesc">
            <thead>
                <tr>
                    <th id="titulo">Titulo del Resumen</th>
                </tr>
            </thead>
            <tbody>
                {% for resumen in lista_resumenes %}
                    {% if resumen.usuario == user.username %}
                        <tr>
                            <td><a href="{% url 'ver_resumen' resumen.pk %}">{{ resumen.titulo }}</a></td>
                            <td>
                                <form method="POST" action="{% url 'borrar_resumen' resumen.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
{% endblock %}