<!DOCTYPE html>
<html>
    <head>
        <title>Menás</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="menu.html">Menú</a></li>
                    <li><a href="cuestionario.html">Decide tu metodo de estudio</a></li>
                    <li><a href="planificacion.html">Planificación para tu proxima amenaza</a></li>
                    <li><a href="cronometros.html">Cronómetro</a></li>
                    <li><a href="metodos.html">Metodos y estrategias de estudio</a></li>
                </ul>
            </nav>
        </header>
        <div class="titulop">
            <h1>Bienvenido a Menás</h1>
        </div>

    </body>
</html>