*{
    color: #f2f2f2;
    font-size: 15px; 
    font-family: 'Tai Heritage Pro', serif;
    position: relative;
}

body{
    background-color: #262626;
}

.enter{
    z-index: 0;
    position: relative;
}

    .enter__h1{
        font-size: 6em;
        color: #b7c5f2;
        font-weight: 700;
        margin: auto;
    }

    .enter__sub{
        font-family: 'Pinyon Script', cursive;
        font-size: 3em;
        color: #f2f2f2;
    }

    .enter__img{
        z-index: -10;
        top: -200px;
        width: 100%;
        position: absolute;
    }

.instructivo{
    z-index: 0;
}

    .instructivo__p{
        font-size: 3em;
        z-index: 10;
    }

.buttons{
    z-index: 0;
}

    .school{
        z-index: 0;
        position: relative;
        background-color: #262626;
        top: 350px;
    }

        .school__a{
            z-index: 0;
        }

        .school__title{
            font-size: 2em;
        }

        .school__divimg{
            z-index: 0;
        }

            .school__img{
                border-radius: 3em;
                box-shadow: 0 0 15px 0  #f2f2f2;
                width: 500px;
                height: 500px;
            }
    
    .event{
        z-index: 0;
    }

        .event__a{
            z-index: 0;
        }

        .event__title{
            font-size: 2em;
        }

        .event__divimg{
            z-index: 0;
        }

            .event__img{
                border-radius: 3em;
                box-shadow: 0 0 15px 0  #f2f2f2;
                width: 500px;
                height: 500px;
            }

.copy{
    font-size:1em;
}