:root {
    --gradient:linear-gradient(45deg, #39b4ff 0, #58b1ff 8.33%, #70adff 16.67%, #85aaff 25%, #98a5fc 33.33%, #a9a1f8 41.67%, #b99df2 50%, #c799eb 58.33%, #d395e3 66.67%, #de91da 75%, #e78ed0 83.33%, #ef8bc5 91.67%, #f589bb 100%);
}
body{
    background-size: 400%;
    background-image: var(--gradient);
    animation: bg-animation 60s infinite alternate;
}
@keyframes bg-animation{
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}
.titulo {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 6rem;
    color:#ee6352;
    line-height: 0.8;
    margin: 0;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
}
#content {
    background: white;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
}