{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body> 
        {% include "barra.html" %}
        <div>
            <ul id="marco">
                <li><p class="p1">¿Deseas el Trabajo fraccionado?</p></li>
            </ul>
            <ul id="respuestas">
                <li><button><a href="{% url 'pregunta2' %}" class="p1">Si</button></li>
                <li><button><a href="{% url 'pregunta3' %}" class="p1">No</button></li>
            </ul>
        </div>
    </body>

</html>
{% endblock %}