{% load static %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet"  type="text/css" href ="{% static  'plant.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
    </head>
    <body> 
        {% include "barra.html" %}
        <div id="padre_superior">
            <div id="padre">
                <ul id="marco">
                    <li><p class="p1">¿Te gustaria tener las ideas anotadas o memorizadas?</p></li>
                </ul>
                <ul id="respuestas">
                    <li><button><a href="{% url 'pregunta4' %}" class="p1">Anotadas</a></button></li>
                    <li><button><a href="{% url 'pregunta5' %}" class="p1">Memorizadas</a></button></li>
                </ul>
            </div>
        </div>
    </body>
</html>
{% endblock %}