{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet"  type="text/css" href ="{% static  'plant.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
    </head>
    <body> 
        {% include "barra.html" %}
        <div id="padre_superior">
            <div id="padre">
                <ul id="marco">
                    <li><p class="p1">¿Prefieres hablar contigo mismo o discutir con tus amigos?</p></li>
                </ul>
                <ul id="respuestas">
                    <li><button><a href="{% url 'acti' %}" class="p1">Conmigo mismo</a></button></li>
                    <li><button><a href="{% url 'deba' %}" class="p1">Con mis amigos</a></button></li>
                </ul>
            </div>
        </div>
    </body>
</html>
{% endblock %}