{% load static %}

{% block content %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet"  type="text/css" href ="{% static  'plantilla.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
    </head>
    <body> 
        {% include "barra.html" %}
        <div id="padre_superior">
            <div id="padre">
                <ul id="marco">
                    <li><p class="p1">¿Preferirias dividir tu mismo el tiempo de estudio o tener un tiempo estricto?</p></li>
                </ul>
                <ul id="respuestas">
                    <li><button><a href="{% url 'inv' %}" class="p1">Yo mismo</button></li>
                    <li><button><a href="{% url 'pomodoro' %}" class="1">Estricto</button></li>
                </ul>
            </div>
        </div>
    </body>
</html>
{% endblock %}