{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href ="{% static  'plant.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
    </head>
    <body> 
        {% include "barra.html" %}
        <div id="padre_superior">
            <div id="padre">
                <ul id="marco">
                    <li><p class="p1">¡¡Felicidades, puedes elegir entre estas 3 técnicas de estudio!! :D<br><br>Elige la que desees:</p></li>
                </ul>
                <ul id="respuestas">
                    <li><button><a href="{% url 'imp' %}" class="p1">Lo importante</a></button></li>
                    <li><button><a href="{% url 'hoja' %}" class="p1">La hoja</a></button></li>
                    <li><button><a href="{% url 'mapa' %}" class="p1">Mapa conceptual</a></button></li>
                </ul>
            </div>
        </div>
    </body>
</html>
{% endblock %}