{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet"  type="text/css" href ="{% static  'plant.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'lyda.ico' %}">
        <title>Men&aacute;s</title>
        <style>
            body{
                background-repeat:no-repeat;
                background-size: auto 70em;
            }
        </style>
    </head>
    <body> 
        {% include "barra.html" %}
        <div id="padre_superior">
            <div id="padre">
                <ul id="marco">
                    <li><p class="p1">¡¡Felicidades!!, tienes la tecnica del Resumen o el mapa conceptual para elegir.<br><br>Elige la que desees:</p></li>
                </ul>
                <ul id="respuestas">
                    <li><button><a href="{% url 'resu' %}" class="p1">Resumen</a></button></li>
                    <li><button><a href="{% url 'mapa' %}" class="p1">Mapa conceptual</a></button></li>
                </ul>      
            </div>
        </div>     
    </body>
</html>
{% endblock %}